	<h1>Welcome to Yoink</h1>
	<%= notice %>
	<ul>
		<% if @restaurants.any? %>
			<% @restaurants.each do |restaurant| %>
				<li>  <%= link_to restaurant.name, restaurant_path(restaurant) %> - <%= restaurant.category %> (Average rating: <%= restaurant.average_rating %>) | <%= link_to 'Edit', edit_restaurant_path(restaurant) %> | <%=link_to 'Delete', restaurant_path(restaurant), method: :delete  %> </li>
			<% end %>
		<%else%>
			<p>No restaurants yet</p>
		<% end %>
		</ul>
	<%=link_to 'Add a restaurant', new_restaurant_path %>
</body>
</html>
