<h1> <%= @restaurant.name %> </h1>
<p> <%= @restaurant.category %> </p>
<h2> Reviews </h2>
<% if @restaurant.reviews.any? %>
<h3>Average rating: <%= @restaurant.average_rating %></h3>
<ul>
	<% @restaurant.reviews.each do |review| %>
	<li>
		<%= "#{review.comment} (#{star_rating(review.rating)})"%>
		<em> - Posted <%= time_ago_in_words(review.created_at) %> ago</em>
		<%= link_to review_endorsements_path(review), class: 'endorsement-link' do %>
			<i class="fa fa-thumbs-o-up"> <span class="endorsement_count"><%= review.endorsements.count %></span></i>
		
		<% end %>
	</li>
	<% end %>
</ul>
<% else %>
<p>No reviews yet</p>
<% end %>
<%= unless restaurant.has_been_reviewed_by?(current_user) %>
	<%= link_to 'Add a review', new_restaurant_review_path(@restaurant), :class => "add-review" %>
	<% end %>