<!DOCTYPE html>
<html>
<head>
	<title>Yoink</title>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<meta charset='utf8'>
</head>
<body>
	<div class="header">
		<div class="header-container">
			<div class="logo-name-group header-item"> 
				<div class="logo header-item"> <img class="logo" src="http://www.clipartlord.com/wp-content/uploads/2014/01/pig5.png"></div>
				<div class="site-name header-item"><h1>Yoink!</h1></div>
			</div>
			<div class="nav">
				<% if user_signed_in? %>
				<div class="logged-in-as header-item">Logged in as <%= current_user.email %></div>
				<div class="sign-out"><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></div>
				<% else %>
				<div class="log-in"><%= link_to 'Log in', new_user_session_path %> <br></div>
				<div class="sign-up"><%= link_to 'Sign up', new_user_registration_path %> </div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="body-container"> 
		<%= notice %>
		<%= yield %>
	</div>
</body>
</html>
